@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: lighter;
src: local('Helvetica Neue LT Std 45 Light'), url('../fonts/HelveticaNeueLTStdLt.woff') format('woff');
}
div#conteudo {
	margin: 0 auto;
	width: 800px;
}
.escolhatelefone {
  background: #020d14;
  background-image: linear-gradient(to bottom, #020d14, #666666);
  border-radius: 28px;
  color: #ffffff;
  font-size: 13px;
  padding: 9px 33px 8px 20px;
  text-decoration: none;
}
div#telefone {
	height: 548px;
    width: 251px;
   	margin: 20px auto;
    background-image: url("../images/iphonerosa.png");
	background-repeat: no-repeat;
	background-size: 256px;	
}
div#calculadora {
	width: 258px;
    height: 550px;
    position: relative;
    top: -3px;
}
div#display {
	border: 3px solid black;
	width: 185px;
	height: 51px;
	text-align: right;
	padding: 55px 13px 1px 13px;
	font-size: 53px; 
	background-color: #202020;
	color: white;
	letter-spacing: 1px;
	position: relative;
	top: 67px;
    left: 21px;
}
table#teclado {
	border: 3px solid black;
	border-collapse: collapse;
	position: relative;
    top: 67px;
    left: 21px;
}
#teclado td {
	width: 50px; 
	height: 50px;	
	background-color: #D6D7D8;
	text-align: center;
	border: 1px solid black;

}
#teclado td.operacao {
	background-color: #F08410;
	color: #FFFFFF;
	background-image: url("../images/simbols.png");
	background-repeat: no-repeat;
	background-size: 80%;
}
#teclado td#divisao {
	background-position: 6px 1px;
}
#teclado td#multiplicacao {
	background-position: 6px -58px;
}
#teclado td#subtracao {
	background-position: 6px -119px;
}
#teclado td#adicao {
	background-position: 6px -179px;
}
#teclado td#igual {
	background-position: 6px -238px;
}
#teclado td.operacaoespecial {
	background-color: #CACBCC;
}
td#zero {
	text-align: left;
	padding-left: 19px;
}
body {
	font-family: 'Helvetica Neue LT Std 45 Light';
	font-size: 21px;
	text-align: center;
}